.bicicletas-lista {
  padding-top: 60px;
  padding-bottom: 100px;
}

.bicicletas-lista h2 {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 40px;
}

.bicicletas-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: auto;
}
/* Aqui ele não diminui menos que esse valor que determinei e o pai vem com atributo overflow scroll que gera o scroll na sessão, mas para não ficar com scroll habilitado eu coloco o valor de auto que so vai gerar se precisar e também informo o eixo que nesse caso é o X  */
.bicicletas-lista li {
  min-width: 280px;
}

.bicicletas-lista a {
  display: block;
}

.bicicletas-lista img {
  margin-bottom: 16px;
}

.bicicletas-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.bicicletas-lista h3::before {
  content: "";
  display: inline-block;
  background-color: var(--cor-p1);
  height: 8px;
  width: 12px;
  margin-right: 8px;
  transition: width 0.2s;
}
.bicicletas-lista a:hover h3::before {
  width: 24px;
}

.bicicletas-lista li span {
  padding-left: 20px;
}

@media (max-width:800px) {
  .bicicletas-lista h2{
    padding-top: 0px;
    padding-bottom: 0px;
  }
}