/* RESESTS */
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
p,
ul,
blockquote {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}
/* Forma de arrendondar as imagem que contem src e no final .jpg */
img[src$=".jpg"] {
  border-radius: 5px;
}
