/* Introdução */

.introducao-bg {
  background-color: var(--cor-12);
  color: var(--cor-0);
  box-shadow: inset 0px -120px rgb(255, 255, 255); /*Imagem vazando o container*/
}

.introducao img {
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao-conteudo h1 {
  margin-bottom: 32px;
}

.introducao-conteudo h1::after {
  content: ".";
  color: var(--cor-p1);
}

.introducao-conteudo p {
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .introducao-conteudo h1 {
    font-size: 3rem;
  }
  .introducao-conteudo p {
    font-size: 1.125rem;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    background: var(--cor-11);
    padding: 40px;
    box-shadow: inherit 0 -60px #ffffff;
  }
  .introducao-conteudo h1 {
    font-size: 2rem;
    margin-bottom: 16px;
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introducao-conteudo {
    padding: 0px;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}
